# Entorno virtual
.venv/
venv/
env/

# Cache de Python y Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Configuración local de IDEs
.vscode/
.idea/

# Datos pesados (se mantienen locales)
data/datos_normalizados_parquet/
data/processed/

# Logs
logs/
*.log

# Variables de entorno y llaves secretas
.env